beautifulsoup4==4.9.3
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cryptography==3.1.1
idna==2.10
pip==20.2.4
pycparser==2.20
pyOpenSSL==19.1.0
pySmartDL==1.3.4
PySocks==1.7.1
requests==2.24.0
selenium==3.141.0
setuptools==50.3.1.post20201107
six==1.15.0
soupsieve==2.0.1
termcolor==1.1.0
urllib3==1.25.11
wheel==0.35.1
win-inet-pton==1.1.0
wincertstore==0.2
